<h1 class="uk-title">Database Read</h1>
<h3 class="uk-title">List of Countries</h3>
<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Capital</th>
      <th>Currency</th>
      <th>Population</th>
    </tr>
  </thead>
  <tbody>
    <% countries.forEach(function(country) { %>
    <tr>
      <td><%= country.Title %></td>
      <td><%= country.Code %></td>
      <td><%= country.Capital %></td>
      <td><%= country.Currencies %></td>
      <td><%= country.Population %></td>
    </tr>
    <% }); %>
  </tbody>
</table> 