<h1>File System Object (FSO) - List folder and file</h1>

<h3>Read Drive Letter</h3>
<% drives.forEach(function(drive) { %>
  <%= drive %> <br/>
<% }); %>

<hr/>

<h3>Read Folder</h3>
<p>URL : <%= folderURL %></p>
<p>Path : <%= folderPath %></p>
<p>Size : <%= folderSize %></p>
<p>Created : <%= folderCreated %></p>

<hr/>

<h3>Read File</h3>
<p>URL : <%= fileURL %></p>
<p>Path : <%= filePath %></p>
<p>Size : <%= fileSize %></p>
<p>Created : <%= fileCreated %></p> 